* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-image: url('./resources/Banner Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 20px auto;
    position: relative;
}

header::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
}

.offer-container {
    text-align: center;
    margin: 100px 0px;
    position: relative;
}



.offer-container h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-container p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.offer-container h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-container img {
    margin-top: 50px;
}

.party-container {
    background-image: url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.party-container::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 15px;
}

.party-description {
    position: absolute;
    left: 10%;
    right: 45%;
}

.party-image {
    position: absolute;
    left: 65%;
}

.party-description h1 {
    color: #ffffff;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.party-description p {
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}

.party-description a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.event-details {
    margin: 100px auto;
    width: 1320px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
}

.event-details h3 {
    margin-bottom: 10px;
}

.event-title {
    color: #F00;
}

.event-details button {
    background-color: #F00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.coming-soon-section {
    margin: 100px auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

.coming-soon-description,
.coming-soon-image,
.coming-soon-description-two {
    width: 30%;
}

.coming-soon-description h5 {
    color: #F00;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.coming-soon-description h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.coming-soon-description p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    /* 160% */
}

.coming-soon-image img {
    border: 5px solid #F00;
    padding: 10px;
    border-radius: 220px;
}

.coming-soon-description-two h3 {
    color: #F00;
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.coming-soon-description-two p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0;
    width: 200px;
}

.coming-soon-description-two img {
    width: 100px;
}

.holiday-sale-container {
    margin: 100px auto;
    width: 1320px;
    height: 934px;
    align-items: center;
}

.holiday-sale-description {
    text-align: center;
    margin: 10px auto;
}

.holiday-sale-description h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday-sale-description h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.Holidays-title-color {
    color: #F00;
}

.holiday-sale-description p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    width: 600px;
    margin: 0 auto;
    /* 160% */
}

.holiday-sale-image {
    position: relative;
    margin-top: -150px;
}

.img-one {
    position: absolute;
    width: 600px;
    top: 350px;
    left: 142px;
    z-index: 1;
}

.img-two {
    position: absolute;
    top: 318px;
    left: 718px;
    z-index: 2;

}

.img-three {
    position: absolute;
    top: 235px;
    left: 891px;
    z-index: 1;
}

.img-four {
    position: absolute;
    top: 668px;
}

.portfolio-section-container {
    margin: 100px auto;
    width: 1320px;
}

.portfolio-section-container h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-section-container h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 20px 0;
}

.portfolio-section-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 700px;
    margin-bottom: 20px;
    /* 160% */
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.subscribe-section-container {
    width: 1320px;
    /* height: 616px; */
    margin: 100px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 100px 0;
}

.subscribe-section-container img {
    width: 80px;
}

.subscribe-section-container h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-section-container p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 160% */
    width: 650px;
    margin: 20px auto;
}

.subscribe-form input {
    margin-right: -5px;
    width: 250px;
    height: 40px;
    padding: 15px;
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.subscribe-form button {
    height: 40px;
    /* width: 76px; */
    border-radius: 0px 20px 20px 0px;
    border: none;
    background: #f00;
    color: white;
    font-weight: 600;
    padding: 0px 23px;
}

footer {
    background: #070211;
}

.footer-container {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    color: white;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.footer-social-media {
    margin: 30px 0;
    text-align: center;
}

.footer-social-media img {
    width: 40px;
}